#lshead {
    min-width: 75px;
}


#shopNow {

    min-width: 50px;
}

#sell-center {

    min-width: 90px;
}

#help-center {
    min-width: 35px;
}

#message-center {
    min-width: 55px;
}

#ccard_pg-1 {
    display: none !important;
}

/* #dblprd=>1380 -1357=>23 #capsprds=>1026 -- 1097==> */

/*

aboutUs-2855-2849
aboutUs-5566 - 5562
aboutUs-1571

Update :
indiamart  meeting
Volark qr pages






*/